/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 1.5em;
	font-weight: bold;
	color: #777777;
	text-align: center;
}

h1.text-align-right {
	text-align: right;
}

h2 {
	font-size: 1.3em;
	font-weight: bold;
	margin: 0.35em;
}
p {
	margin:0.4em;
}

.float-right{
	float: right;
}

.user-progress .user-display {
	font-size: larger;
}

.user-progress .user-display img {
	float: left;
	padding-right: 0.5em;
}

.user-progress .user-progress-item {
	clear: both;
	text-align: right;
}

/* Evaluation Table */
.evaluation-table-pager {
	float: right;
}

.main-tab {
	width: 100%;
}

.resource-selection {
	padding: 1em 0;
	border-bottom: 1px solid;
}

.resource-selection td {
	vertical-align: center;
}

.resource-selection .gwt-Button {
	margin-left: 5em;
}

