<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>EvaluationRequestServlet</servlet-name>
		<servlet-class>org.aksw.TripleCheckMate.server.requests.EvaluationRequestImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserRequestServlet</servlet-name>
		<servlet-class>org.aksw.TripleCheckMate.server.requests.UserRequestImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EvaluationRequestServlet</servlet-name>
		<url-pattern>/triplecheckmate/EvaluationRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserRequestServlet</servlet-name>
		<url-pattern>/triplecheckmate/UserRequest</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>TripleCheckMate.html</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>HTTP-Protected-Resource-1</web-resource-name>
			<description>No access to configurations</description>
			<url-pattern>/db/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>NOSOUPFORYOU</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>
